body,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: #464f53;
    max-width: 1220px; 
    padding-top: 45px;
    margin: 0 auto;
}

.block1 {
    width: 875px;
    height: 185px;
    background-color: black;
    color: white;
    float: right;  
}  

.block2 {
    width: 810px;
    height: 75px;
    background-color: #fbbf2d;
    float: right;
} 

.icons {
    padding: 24px 0 24px 30px; 
}

.material-icons {
    padding: 0 20px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

a {    
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

.block3 {
    width: 1060px;
    height: 750px;
    padding: 0;
    margin: auto;
    background-color: white;
    margin-top: 105px;
} 

@font-face {
    font-family: Proxima Nova;
    src: url(/src/fonts/Proxima\ Nova/Proxima\ Nova\ Light.otf);
    font-weight: 400;
    font-style: normal;
}

.title1 {
    font-size: 15px;
    letter-spacing: 5px;
    line-height: 70px;
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 25px 65px;
    color: #b4b4b4;
}

h1 {
    font-size: 48px;
    color: #fefefe;
    font-family: Proxima Nova;
    margin: 0;
    padding: 0 0 0 65px;
    font-style: normal;
    font-weight: 400;    
}

hr {
    width: 810px;
    opacity: 0.5;
    float: right;
}

.author {
    font-size: 16px;
    letter-spacing: 4px;
    color: #b4b4b4;
    font-family: Proxima Nova;
    padding: 200px 0 25px 125px;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Proxima Nova;
    src: url(/src/fonts/Proxima\ Nova/Proxima\ Nova\ Condensed\ Semibold.otf);
    font-weight: 600;
    font-style: normal;
}

.nameofarticle {
    width: 1225px;
    font-size: 78px;
    letter-spacing: 4px;
    color: #2a2a2a;
    font-family: Proxima Nova;
    padding: 0 0 25px 125px;
    font-style: normal;
    font-weight: 600;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Proxima Nova;
    src: url(/src/fonts/Proxima\ Nova/Proxima\ Nova\ Condensed\ Regular\ Italic.otf);
    font-weight: 400;
    font-style: italic;
}

.phrase {
    padding: 0 0 65px 125px;
    font-weight: 400;
    font-family: Proxima Nova;
    font-style: italic;
    color: #b4b4b4;
    font-size: 30px;
}

@font-face {
    font-family: Nova Proxima;
    src: url(/src/fonts/Proxima\ Nova/Proxima\ Nova\ Condensed\ Regular.otf);
    font-weight: 400;
    font-style: normal;
}

.par {
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}

.firstpar {
    padding: 0 135px 45px 125px;
}

.secondpar {
    padding: 0 135px 0 125px;
}

.material-icons:hover {
    opacity: 1;
}